docker/**/*.jar
scripts/failed_installs.txt
docker/mock-contact-form-service/node_modules
.idea
*.iml
/services/contact-form-service/contact-request-handler-task/http-source-kafka-10-1.3.1.RELEASE.jar
/services/contact-form-service/save-contact-to-db-task/jdbc-sink-kafka-10-1.3.1.RELEASE.jar
